{% extends 'shop/base.html' %}
{% block content %}

<div class="hero-page">
    <h1>Centre d'aide</h1>
    <p>Questions fréquentes.</p>
</div>

<div class="content-card">

    <div class="info-box">
        <h2> Comment commander ?</h2>
        <p>Ajoutez les produits au panier puis passez au paiement.</p>
    </div>

    <div class="info-box">
        <h2> Quels moyens de paiement ?</h2>
        <p>Orange Money, Wave, Moov Money et paiement à la livraison.</p>
    </div>

    <div class="info-box">
        <h2> Délais de livraison</h2>
        <p>Entre 24h et 72h selon votre localisation.</p>
    </div>

</div>

{% endblock %}