{% extends 'shop/base.html' %}
{% block content %}

<div class="hero-page">
    <h1>Politique de confidentialité</h1>
    <p>Protection de vos données personnelles.</p>
</div>

<div class="content-card">

    <div class="info-box">
        <h2>Sécurité</h2>
        <p>
            Nous protégeons les informations personnelles de nos clients
            conformément aux bonnes pratiques de sécurité.
        </p>
    </div>

    <div class="info-box">
        <h2> Utilisation des données</h2>
        <p>
            Vos informations servent uniquement au traitement des commandes.
        </p>
    </div>

</div>

{% endblock %}