{% extends 'shop/base.html' %}
{% block content %}

<div class="hero-page">
    <h1>Contact</h1>
    <p>Notre équipe est à votre écoute.</p>
</div>

<div class="content-card">

    <div class="info-box">
        <h2> Téléphone</h2>
        <p>+223 91 04 18 66</p>
    </div>

    <div class="info-box">
        <h2> Email</h2>
        <p>bouillonslakika@gmail.com</p>
    </div>

    <div class="info-box">
        <h2> Adresse</h2>
        <p>Bamako - Mali</p>
    </div>

</div>

{% endblock %}