{% extends 'shop/base.html' %}
{% block content %}

<section class="panier-section">
    <div class="page-card">
    <h1>Mon Panier</h1>

    <div id="panier-items"></div>

    <h2>Total : <span id="total">0</span> FCFA</h2>

    <div class="panier-buttons">
        <button onclick="viderPanier()">Vider le panier</button>
        <a href="{% url 'paiement' %}">Passer au paiement</a>
    </div>
    </div>
</section>
<footer class="home-footer">

    <div class="footer-content">

        <div class="footer-brand">
            <h2>LAKIKA</h2>
            <p>Le goût naturel qui transforme vos repas.</p>
        </div>

        <div class="footer-links">
            <a href="{% url 'apropos' %}">À propos</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'aide' %}">Aide</a>
            <a href="{% url 'confidentialite' %}">Confidentialité</a>
        </div>
<div id="notification" class="notification">
    Produit ajouté au panier
</div>


        <div class="footer-socials">
            <a href="#">Facebook</a>
            <a href="#">TikTok</a>
            <a href="#">WhatsApp</a>
            <a href="#">Instagram</a>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 LAKIKA | Tous droits réservés</p>
    </div>

</footer>

{% endblock %}
