SECRET_KEY=dev-only-agricheck-admin-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2,10.0.3.2,*
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
AGRICHECK_MOBILE_PROJECT_PATH=C:\Users\kader diarra\StudioProjects\AgriCheck
AGRICHECK_CLIENT_PROJECT_PATH=C:\Users\kader diarra\PycharmProjects\AgriCheck entreprise
PLANT_ID_API_KEY=
PLANTNET_API_KEY=
PLANTNET_PROJECT=all
CROP_HEALTH_API_KEY=
DRONE_API_KEY=
